@keyframes fadein {
  0% {
    opacity: 0; }
  66% {
    opacity: 0; }
  100% {
    opacity: 1; } }
.row-rewerse {
  flex-direction: row-reverse; }

main.content-subpage {
  width: 100%; }

.thumbnail img {
  max-width: 100%;
  height: auto; }

body:not(.home) section:first-child {
  margin-top: 40px; }
@media (max-width: 576px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
@media (max-width: 768px) {
  body .only-mobile {
    display: block; }
  body header .only-mobile {
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center; } }
body.page-template-homepage-php section:first-child {
  margin-top: 0px; }
body > .fb-page.fb_iframe_widget {
  display: none; }

.only-mobile {
  display: none; }

.blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition-duration: .5s; }

.header-bg {
  height: 300px;
  position: relative; }

.open-navigation .twelve {
  width: 100%; }
.open-navigation .eleven {
  width: 91.53%; }
.open-navigation .ten {
  width: 83.06%; }
.open-navigation .nine {
  width: 74.6%; }
.open-navigation .eight {
  width: 66.13%; }
.open-navigation .seven {
  width: 57.66%; }
.open-navigation .six {
  width: 49.2%; }
.open-navigation .five {
  width: 40.73%; }
.open-navigation .four {
  width: 32.26%; }
.open-navigation .three {
  width: 23.8%; }
.open-navigation .two {
  width: 15.33%; }
.open-navigation .one {
  width: 6.866%; }
.open-navigation .col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%; }
.open-navigation .col:first-of-type {
  margin-left: 0; }
.open-navigation .cf:before,
.open-navigation .cf:after {
  content: " ";
  display: table; }
.open-navigation .cf:after {
  clear: both; }
.open-navigation .cf {
  *zoom: 1; }
.open-navigation .hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  transition: all 0.3s ease-in-out; }
.open-navigation .hamburger:hover {
  cursor: pointer; }

/*# sourceMappingURL=main-theme.css.map */
