//KEYFRAMES
@keyframes fadein{
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
.row-rewerse {
	flex-direction: row-reverse;
}
////////////////////////////////////
///////////    GLOBAL      ////////
//////////////////////////////////
main.content-subpage {
	width: 100%;
}
.thumbnail img {
	max-width: 100%;
	height: auto;
}
body {
	&:not(.home) {
		section {
			&:first-child { 
				margin-top: 40px;
			}
		}
	}
	@media (max-width: 576px) { 
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center;
		} 
	}
	@media (max-width: 768px) {  
		.only-mobile {
			display: block;
		}
		header .only-mobile {
			display: flex;
			height: 100%;
			justify-content: flex-end;
			align-items: center; 
		} 
	}
	&.page-template-homepage-php {
		section:first-child {
			margin-top: 0px;
		}
	}

	& > .fb-page.fb_iframe_widget {
		display: none;
	}
}
////////////////////////////////////
/////////// ADDONS CLASS   ////////
//////////////////////////////////
.only-mobile {
	display: none;
}
.blur {
	-webkit-filter: blur(5px);
	filter: blur(5px);
	transition-duration: .5s;
}

////////////////////////////////////
///////////    HEADER      ////////
//////////////////////////////////

//header subpage
.header-bg {
	height: 300px;
	position: relative;
}

//button open navi
.open-navigation {
	.twelve { width: 100%; }
	.eleven { width: 91.53%; }
	.ten { width: 83.06%; }
	.nine { width: 74.6%; }
	.eight { width: 66.13%; }
	.seven { width: 57.66%; }
	.six { width: 49.2%; }
	.five { width: 40.73%; }
	.four { width: 32.26%; }
	.three { width: 23.8%; }
	.two { width: 15.33%; }
	.one { width: 6.866%; }
	.col {
		display: block;
		float:left;
		margin: 1% 0 1% 1.6%;
	}
	.col:first-of-type {
		margin-left: 0;
	}

	.cf:before,
	.cf:after {
		content: " ";
		display: table;
	}

	.cf:after {
		clear: both;
	}

	.cf {
		*zoom: 1;
	} 

	.hamburger .line{
		width: 50px;
		height: 5px;
		background-color: #ecf0f1;
		display: block;
		margin: 8px auto;
		transition: all 0.3s ease-in-out;
	}

	.hamburger:hover{
		cursor: pointer; 
	}
}
