@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
*, body {
  font-family: 'Lato', sans-serif;
  outline: none;
  scroll-behavior: smooth;
  letter-spacing: 1px; }

section {
  position: relative;
  overflow-y: hidden; }

a:hover {
  text-decoration: none; }

section {
  position: relative; }

.my-container {
  width: 95vw;
  margin: auto;
  max-width: 1400px; }

body.logged-in header#header-top {
  top: 32px; }

h4.section-title {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.3rem; }

header#header-top {
  position: fixed;
  top: 0;
  background-color: #fff;
  padding: 15px 0px;
  left: 0;
  width: 100vw;
  z-index: 100; }
  header#header-top.affix {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  header#header-top .my-container {
    display: flex;
    justify-content: space-between;
    width: 100vw; }
  header#header-top ul.menu {
    display: flex;
    margin: 0px;
    list-style-type: none; }
  header#header-top .logo-item {
    max-width: 200px; }
  header#header-top .navigation-item {
    display: flex;
    margin: 0px;
    align-items: center; }
    header#header-top .navigation-item li a {
      display: flex;
      align-items: center;
      color: #0b0b0b;
      text-transform: uppercase;
      font-weight: 400;
      transition-duration: .5s; }
      header#header-top .navigation-item li a:before {
        content: " ";
        width: 5px;
        height: 5px;
        background: #fff;
        margin-right: 5px;
        display: block;
        transition-duration: .5s;
        border-radius: 100%; }
      header#header-top .navigation-item li a.active {
        color: #0098ff; }
        header#header-top .navigation-item li a.active:before {
          content: " ";
          background: #0098ff; }

.slider .container-text {
  position: absolute;
  z-index: 2;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center; }
  .slider .container-text h4 {
    color: #fff;
    padding: 10px 30px;
    font-weight: 700;
    background-color: rgba(0, 152, 255, 0.6);
    font-size: 2em; }
.slider .video-slider img, .slider .image-slider img {
  height: 100%;
  object-fit: cover; }
.slider video {
  width: 100%;
  max-height: 100vw;
  object-fit: cover; }
.slider .carousel-indicators li {
  height: 15px;
  width: 15px;
  border-radius: 100%; }

.about-us {
  padding-bottom: 90px; }
  .about-us .single-item h3 {
    font-weight: 700;
    font-size: 1.25em;
    display: flex;
    align-items: center; }
    .about-us .single-item h3:before {
      content: "\22EE";
      font-size: 2em;
      color: #0098ff;
      margin-right: 5px;
      margin-left: -5px; }
  .about-us .single-item .description {
    font-size: .8em;
    color: #909090;
    font-weight: 500; }

.counters {
  background-color: #eeeff5;
  padding: 70px 0px; }
  .counters .single-counter:nth-child(3) .counter-value:after {
    content: "m2";
    position: absolute;
    top: 20px; }
  .counters .single-counter:nth-child(4) .counter-value:after {
    content: "km";
    position: absolute;
    top: 20px; }
  .counters .single-counter:hover .circle {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1); }
  .counters .single-counter .textdesc {
    font-size: .85em;
    text-align: center;
    color: #909090;
    font-weight: 600; }
  .counters .single-counter .circle {
    width: 60%;
    position: relative;
    padding-top: 60%;
    transition-duration: .5s;
    display: block;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 100%;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1); }
    .counters .single-counter .circle .counter-value {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 1.1em;
      font-weight: 700;
      color: #0098ff; }

.paralax {
  background-size: cover;
  padding: 70px 0px; }
  .paralax .logotype {
    display: flex;
    justify-content: center;
    align-items: center; }

.steps {
  padding-bottom: 90px; }
  .steps .section-style h4 {
    width: 100%;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 75px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.3rem; }
  .steps .single-step {
    display: flex;
    flex-wrap: wrap; }
    .steps .single-step:nth-child(even) {
      flex-direction: row-reverse;
      margin-top: -35px; }
      .steps .single-step:nth-child(even) .inner-row {
        display: flex;
        flex-direction: row-reverse;
        margin-left: auto; }
      .steps .single-step:nth-child(even) .thumbnail {
        width: 80%;
        margin-right: auto;
        margin-left: 0px; }
      .steps .single-step:nth-child(even) .numbers .circle .label {
        left: 25%; }
      .steps .single-step:nth-child(even) .inner-text-row {
        text-align: right;
        padding-right: 25px; }
        .steps .single-step:nth-child(even) .inner-text-row:before {
          content: "\22EE";
          right: -10px;
          left: auto; }
        .steps .single-step:nth-child(even) .inner-text-row h3 {
          font-size: 1.2em; }
        .steps .single-step:nth-child(even) .inner-text-row p {
          font-size: 1.15em; }
    .steps .single-step:nth-child(1) {
      margin-top: 0px !important; }
    .steps .single-step:nth-child(odd) {
      margin-top: 0px;
      margin-top: -35px; }
  .steps .inner-text-row {
    text-align: left;
    padding-left: 25px; }
    .steps .inner-text-row:before {
      content: "\22EE";
      left: 0px;
      font-size: 2em;
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      color: #0098ff; }
    .steps .inner-text-row h3 {
      font-size: 1em;
      font-weight: 700; }
    .steps .inner-text-row p {
      font-size: .95em; }
  .steps .inner-row {
    display: flex;
    flex-wrap: wrap;
    width: 95%; }
    .steps .inner-row .numbers {
      width: 15%; }
      .steps .inner-row .numbers .circle {
        width: 100%;
        padding-top: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        align-items: center;
        border: solid 2px #0098ff;
        border-radius: 100%; }
        .steps .inner-row .numbers .circle .label {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          left: 75%;
          top: 50%;
          transform: translate(-50%, -50%);
          display: flex;
          background: #fff;
          font-size: 1.1em;
          padding: 3px;
          font-weight: 700; }
          .steps .inner-row .numbers .circle .label span {
            font-weight: 500;
            margin-right: 3px;
            display: flex;
            justify-content: center;
            align-items: center; }
            .steps .inner-row .numbers .circle .label span:before {
              content: " ";
              width: 3px;
              margin-right: 5px;
              display: block;
              height: 3px;
              background-color: #0098ff;
              border-radius: 100%; }
    .steps .inner-row .thumbnail {
      width: 80%;
      margin-left: auto; }
  .steps .inner-text-row {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.portfolio h4.section-title {
  margin-bottom: 40px; }
.portfolio .mobile-more {
  display: none; }
.portfolio ul.nav {
  margin-bottom: 40px;
  display: flex;
  justify-content: center; }
  .portfolio ul.nav li a {
    color: #000;
    text-transform: uppercase; }
    .portfolio ul.nav li a.active {
      color: #0098ff; }
.portfolio .grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%; }
.portfolio .single-portfolio-item {
  position: relative;
  background-size: cover; }
  .portfolio .single-portfolio-item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3; }
  .portfolio .single-portfolio-item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5; }
  .portfolio .single-portfolio-item:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4; }
  .portfolio .single-portfolio-item:nth-child(4) {
    grid-area: 2 / 4 / 4 / 5; }
  .portfolio .single-portfolio-item:nth-child(5) {
    grid-area: 3 / 2 / 4 / 4; }
  .portfolio .single-portfolio-item:nth-child(6) {
    grid-area: 3 / 1 / 4 / 2; }
  .portfolio .single-portfolio-item:hover .inner-single-portfolio {
    background: rgba(0, 0, 0, 0.7);
    z-index: 2; }
.portfolio .inner-single-portfolio {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  transition-duration: .5s;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .portfolio .inner-single-portfolio h4 {
    text-transform: uppercase;
    color: #fff; }
  .portfolio .inner-single-portfolio h5 {
    text-transform: uppercase;
    color: #fff;
    font-size: 1em; }
  .portfolio .inner-single-portfolio a {
    color: #fff;
    margin-top: 20px;
    transition-duration: .5s; }
    .portfolio .inner-single-portfolio a:hover {
      color: #0098ff; }
.portfolio .all-portfolio {
  width: 100%;
  margin-bottom: 70px; }

.team {
  padding: 80px 0px;
  color: #0b0b0b; }
  .team .section-title {
    margin-top: 0px;
    margin-bottom: 50px; }
  .team .all-teammates .single-team-item {
    margin-bottom: 60px; }
    .team .all-teammates .single-team-item:hover .circle {
      border: solid 2px #0098ff; }
      .team .all-teammates .single-team-item:hover .circle .label-name span {
        color: #0b0b0b; }
    .team .all-teammates .single-team-item .circle {
      border-radius: 100%;
      width: 35%;
      padding-top: 35%;
      border: solid 2px #909090;
      transition-duration: .5s;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center; }
      .team .all-teammates .single-team-item .circle .label-name {
        position: absolute;
        top: 50%;
        transform: translate(50%, -50%);
        white-space: nowrap;
        padding: 5px;
        background: #fff;
        margin-right: -20px;
        display: block;
        right: 40%;
        z-index: 20;
        width: 100%;
        font-weight: 700; }
        .team .all-teammates .single-team-item .circle .label-name:before {
          content: " ";
          width: 5px;
          height: 5px;
          display: block;
          background-color: #0098ff;
          border-radius: 100%;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          left: -5px; }
        .team .all-teammates .single-team-item .circle .label-name span {
          color: #0b0b0b;
          transition-duration: .5s;
          font-weight: 400; }
        .team .all-teammates .single-team-item .circle .label-name small {
          display: block;
          position: absolute;
          top: -15px; }
  .team .all-teammates .more-info {
    padding-left: 25px; }
    .team .all-teammates .more-info .position {
      color: #0098ff;
      color: #0098ff;
      font-weight: 700;
      margin-top: 20px;
      margin-bottom: 20px;
      min-height: 40px;
      display: flex;
      align-items: center; }
    .team .all-teammates .more-info .mail a, .team .all-teammates .more-info .phone a {
      color: #909090;
      transition-duration: .5s; }
      .team .all-teammates .more-info .mail a:hover, .team .all-teammates .more-info .phone a:hover {
        color: #0098ff; }

.opinion {
  padding-bottom: 60px;
  background-color: #eeeff5; }
  .opinion h4.section-title {
    margin-bottom: 60px; }
  .opinion .single-item-opinion {
    padding: 20px;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: 5px 5px 10px rgba(57, 77, 199, 0.1);
    transition-duration: .5s;
    position: relative;
    z-index: 10; }
    .opinion .single-item-opinion:hover {
      box-shadow: 0px 0px 15px rgba(57, 77, 199, 0.1); }
    .opinion .single-item-opinion h5 {
      font-size: 1em;
      font-weight: 600;
      text-align: center; }
      .opinion .single-item-opinion h5 span {
        display: block;
        font-weight: 500;
        color: #0098ff;
        margin-top: 5px; }
    .opinion .single-item-opinion .quote {
      width: 80%;
      margin: auto;
      text-align: center;
      margin-bottom: 50px;
      position: relative;
      margin-top: 20px;
      font-style: italic; }
      .opinion .single-item-opinion .quote:before {
        content: url(/wp-content/uploads/2020/03/cytat.png);
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        left: -10%;
        top: -35px;
        transform: rotate(180deg); }
      .opinion .single-item-opinion .quote:after {
        content: url(/wp-content/uploads/2020/03/cytat.png);
        width: 40px;
        height: 40px;
        display: block;
        position: absolute;
        right: -10%;
        bottom: -35px; }
    .opinion .single-item-opinion .thumbnail img {
      max-height: 120px;
      width: auto;
      margin: 0px auto 20px auto; }
  .opinion .owl-carousel {
    position: relative; }
  .opinion .owl-nav {
    z-index: -1;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 110%;
    margin-left: -5%;
    display: flex;
    justify-content: space-between; }
    .opinion .owl-nav button span {
      font-size: 2em; }

.carousel .owl-item {
  display: flex;
  flex-direction: column;
  justify-content: center; }
.carousel .single-carousel-item:hover a label {
  color: #909090; }
.carousel .single-carousel-item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .carousel .single-carousel-item a label {
    transition-duration: .5s;
    color: #eeeff5;
    text-transform: uppercase;
    font-weight: 500; }
.carousel .owl-nav {
  position: absolute;
  top: 25%;
  left: 0px;
  width: 105%;
  margin-left: -2.5%;
  display: flex;
  justify-content: space-between; }
  .carousel .owl-nav button span {
    font-size: 2em; }

footer {
  background-color: #000;
  color: #faf8fb;
  padding: 40px 0px 20px 0px; }
  footer h5 {
    text-transform: uppercase;
    font-size: .95em;
    font-weight: 600; }
  footer .copywrite {
    margin-top: 30px;
    padding-top: 30px;
    color: #777777;
    border-top: solid 1px #333; }
    footer .copywrite span {
      color: #777; }
    footer .copywrite .col-xl-6:nth-child(2) span {
      display: block;
      text-align: right;
      width: 100%; }
  footer .item-1, footer .item-2, footer .item-3, footer .item-4 {
    font-size: .9em;
    font-weight: 400; }
  footer .fb {
    font-size: .85em;
    color: #faf8fb;
    display: flex;
    justify-content: space-between; }
  footer a {
    color: #fff; }

.hamburger-mobile {
  display: none; }

@media (max-width: 576px) {
  div#list-example {
    position: fixed;
    left: 0;
    width: 70vw;
    height: 100vh;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.85);
    margin-left: -70vw !important;
    transition-duration: .5s; }
    div#list-example.active {
      margin-left: 0vw !important; }

  #menu-main-menu {
    flex-direction: column; }

  .hamburger-mobile {
    display: flex;
    align-items: center; }
    .hamburger-mobile .hamburger .line {
      width: 50px;
      height: 5px;
      background-color: #0b0b0b;
      display: block;
      margin: 8px auto;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .hamburger-mobile .hamburger:hover {
      cursor: pointer; }
    .hamburger-mobile #hamburger-11 {
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
    .hamburger-mobile #hamburger-11.is-active {
      animation: smallbig 0.6s forwards; }
  @keyframes smallbig {
    0%, 100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }
    50% {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0); } }
    .hamburger-mobile #hamburger-11.is-active .line:nth-child(1),
    .hamburger-mobile #hamburger-11.is-active .line:nth-child(2),
    .hamburger-mobile #hamburger-11.is-active .line:nth-child(3) {
      -webkit-transition-delay: 0.2s;
      -o-transition-delay: 0.2s;
      transition-delay: 0.2s; }
    .hamburger-mobile #hamburger-11.is-active .line:nth-child(2) {
      opacity: 0; }
    .hamburger-mobile #hamburger-11.is-active .line:nth-child(1) {
      -webkit-transform: translateY(13px) rotate(45deg);
      -ms-transform: translateY(13px) rotate(45deg);
      -o-transform: translateY(13px) rotate(45deg);
      transform: translateY(13px) rotate(45deg); }
    .hamburger-mobile #hamburger-11.is-active .line:nth-child(3) {
      -webkit-transform: translateY(-13px) rotate(-45deg);
      -ms-transform: translateY(-13px) rotate(-45deg);
      -o-transform: translateY(-13px) rotate(-45deg);
      transform: translateY(-13px) rotate(-45deg); }

  #slider {
    margin-top: 90px; } }
@media (max-width: 1024px) {
  .slider .video-slider, .slider .image-slider {
    height: inherit; }

  .about-us .single-item {
    margin-bottom: 30px; }

  .counters .single-counter {
    margin-bottom: 50px; }

  .steps .single-step {
    margin-bottom: 60px; }
    .steps .single-step .inner-text-row {
      margin-top: 10px; }
    .steps .single-step:nth-child(even) {
      margin-top: 0px; }
    .steps .single-step:nth-child(odd) {
      margin-top: 0px; }

  .sidebar-image {
    position: absolute;
    width: 100%;
    opacity: 0.2;
    top: 70px; }
    .sidebar-image img {
      width: 95%; }

  .team .all-teammates .single-team-item .circle .label-name {
    background-color: #fff;
    width: 100%; }

  footer h5 {
    margin-top: 20px; }
  footer .col-md-12 {
    margin-top: 40px; } }
@media (max-width: 576px) {
  .all-portfolio.wow.zoomIn {
    max-width: 90vw;
    margin: auto;
    padding-bottom: 50px;
    overflow: hidden; }
    .all-portfolio.wow.zoomIn .single-portfolio-item {
      background-size: cover;
      background-position: 0% 0%; }
    .all-portfolio.wow.zoomIn .inner-single-portfolio {
      display: none; }
    .all-portfolio.wow.zoomIn a.mobile-more {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0;
      transition-duration: .5s;
      background: rgba(0, 0, 0, 0.75);
      z-index: 20;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center; }
      .all-portfolio.wow.zoomIn a.mobile-more:hover {
        z-index: 2;
        opacity: 1; }

  .steps .single-step .inner-text-row:before {
    display: none; }

  .team .all-teammates {
    overflow-x: hidden; }
    .team .all-teammates .single-team-item {
      margin-bottom: 60px;
      text-align: center;
      display: block; }
      .team .all-teammates .single-team-item .titles-name {
        display: flex;
        justify-content: center; }
      .team .all-teammates .single-team-item .position {
        text-align: center;
        width: 100%;
        justify-content: center; }

  .sidebar-image.wow.zoomInLeft {
    width: 95vw;
    overflow: hidden; } }
.single-realizacje .grid-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  width: 100%; }
.single-realizacje .details-gallery {
  margin-bottom: 80px; }
  .single-realizacje .details-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
.single-realizacje .single-portfolio-item {
  position: relative;
  background-size: cover; }
  .single-realizacje .single-portfolio-item:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3; }
  .single-realizacje .single-portfolio-item:nth-child(2) {
    grid-area: 1 / 3 / 2 / 5; }
  .single-realizacje .single-portfolio-item:nth-child(3) {
    grid-area: 2 / 3 / 3 / 4; }
  .single-realizacje .single-portfolio-item:nth-child(4) {
    grid-area: 2 / 4 / 4 / 5; }
  .single-realizacje .single-portfolio-item:nth-child(5) {
    grid-area: 3 / 2 / 4 / 4; }
  .single-realizacje .single-portfolio-item:nth-child(6) {
    grid-area: 3 / 1 / 4 / 2; }
  .single-realizacje .single-portfolio-item:hover .inner-single-portfolio {
    background: rgba(0, 0, 0, 0.7);
    z-index: 2; }
.single-realizacje .header-top {
  min-height: 90vh;
  background-size: cover;
  position: relative; }
  .single-realizacje .header-top .position-container {
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 100%;
    justify-content: center; }
    .single-realizacje .header-top .position-container h1 {
      background-color: #4eabf9;
      color: #fff;
      font-size: 2em;
      font-weight: 700;
      padding: 20px 90px; }
.single-realizacje .container-arrow {
  position: absolute;
  width: 125%;
  height: 50px;
  top: 50%;
  transform: translate(0, -50%);
  left: -12.5%;
  z-index: 0; }
  .single-realizacje .container-arrow a {
    filter: invert(1); }
.single-realizacje .details-more h3 {
  font-size: 1.25em;
  font-weight: 700;
  display: flex;
  align-items: center;
  margin: 0; }
  .single-realizacje .details-more h3:before {
    content: "\22EE";
    color: #0098ff;
    font-size: 1.6em;
    margin-left: -25px;
    margin-right: 10px; }
.single-realizacje .details-more address {
  color: #0098ff;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 1.1em; }
.single-realizacje .details-more .more-info-text {
  line-height: 1.85em;
  text-align: justify;
  color: #212121;
  font-weight: 300; }

/*# sourceMappingURL=theme-style.css.map */
