@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*, body {
	font-family: 'Lato', sans-serif;
	outline: none;
	scroll-behavior: smooth;
	letter-spacing: 1px;
}
@mixin absolute-xy-center {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
@mixin absolute-y-center {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}
@mixin absolute-x-center {
	position: absolute;
	left: 50%;
	transform: translate(-50%,-50%); 
}
section {
	position: relative;
	overflow-y: hidden;
}
a {
	&:hover {
		text-decoration: none;
	}
}
section {
	position: relative;
}
$blue:#0098ff;
$silver:#eeeff5;
$gray:#909090;
$black:#0b0b0b;
.my-container { 
	width: 95vw;
	margin: auto;
	max-width:1400px;
}
body.logged-in {
	header#header-top {
		top:32px;
	}
}
h4.section-title {
	width: 100%;
	text-align: center;
	margin-top: 60px;
	margin-bottom: 100px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1.3rem;
}
header#header-top {
	&.affix {
		box-shadow: 0px 0px 15px rgba(0,0,0,.1);
	}
	position: fixed;
	top: 0;
	background-color: #fff;
	padding: 15px 0px;
	left: 0;
	width: 100vw;
	z-index: 100 ;
	.my-container {
		display: flex;
		justify-content: space-between;
		width: 100vw;
	}
	ul.menu {
		display: flex;
		margin:0px; 
		list-style-type: none;
	}
	.logo-item  {
		max-width: 200px;
	}
	.navigation-item {
		display: flex;
		margin: 0px;
		align-items: center;
		li {
			a {
				display: flex;
				align-items: center;
				color: $black;
				text-transform: uppercase;
				font-weight: 400;
				transition-duration: .5s;
				&:before {
					content: " ";
					width: 5px;
					height: 5px;
					background: #fff;
					margin-right: 5px;
					display: block;
					transition-duration: .5s;
					border-radius: 100%;
				}
				&.active {
					color: $blue;
					&:before {
						content: " ";
						background: $blue;
					}
				}
			}
		}
	}
}
.slider {
	.container-text {
		position: absolute;
		z-index: 2;
		bottom: 100px;
		width: 100%;
		display: flex;
		justify-content: center;
		h4 {
			color: #fff;
			padding: 10px 30px;
			font-weight: 700;
			background-color: rgba($blue, .6);
			font-size: 2em;
		}
	}
	.video-slider, .image-slider {
		// height: 90vh;
		// overflow: hidden;
		img {
			height: 100%;
			object-fit: cover;
		}
	}
	video {
		width: 100%;
		max-height: 100vw;
		object-fit: cover;
	}
	.carousel-indicators {
		li {
			height: 15px;
			width: 15px; 
			border-radius: 100%;
		}
	}
}
.about-us {
	padding-bottom: 90px;
	.single-item {
		h3 {
			font-weight: 700;
			font-size: 1.25em;
			display: flex;
			align-items: center;
			&:before {
				content: "\22EE";
				font-size: 2em;
				color: $blue;
				margin-right: 5px;
				margin-left: -5px;
			}
		}
		.description {
			font-size: .8em;
			color:$gray; 
			font-weight: 500;
		}
	}
}
.counters {
	background-color: $silver;
	padding: 70px 0px;
	.single-counter {
		&:nth-child(3) {
			.counter-value:after {
				content:"m2";
				position: absolute;
				top: 20px;
			}
		}
		&:nth-child(4) {
			.counter-value:after {
				content:"km";
				position: absolute;
				top: 20px;
			}
		}
		&:hover .circle {
			box-shadow: 0px 0px 15px rgba(0,0,0,.1);
		}
		.textdesc {
			font-size: .85em;
			text-align: center;
			color: $gray;
			font-weight: 600;
		}
		.circle {
			width: 60%;
			position: relative;
			padding-top: 60%;
			transition-duration: .5s;
			display: block;
			margin: auto;
			margin-bottom: 30px;
			border-radius: 100%;
			overflow: hidden;
			background: #fff;
			box-shadow: 5px 5px 10px rgba(0,0,0,.1);
			.counter-value {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%,-50%);
				display: flex;
				flex-direction: column;
				text-align: center;
				justify-content: center;
				align-items: center;
				font-size: 1.1em;
				font-weight: 700;
				color: $blue;
				
			}
		}
	}
}
.paralax {
	background-size: cover;
	padding: 70px 0px;
	.logotype {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
.steps {
	.section-style {
		h4 {
			width: 100%;
			text-align: center;
			margin-top: 70px;
			margin-bottom: 75px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 1.3rem;
		}
	}
	padding-bottom: 90px;
	.single-step {
		display: flex;
		flex-wrap: wrap;
		&:nth-child(even) {
			flex-direction: row-reverse;
			margin-top: -35px;
			.inner-row {
				display: flex;
				flex-direction: row-reverse;
				margin-left: auto;
			}
			.thumbnail {
				width: 80%;
				margin-right: auto;
				margin-left: 0px;
			}
			.numbers .circle .label {
				left: 25%;
			}
			.inner-text-row {
				text-align: right;
				padding-right: 25px;
				&:before {
					content: "\22EE";
					right: -10px;
					left: auto; 
				}
				h3 {
					font-size: 1.2em;
				}
				p {
					font-size: 1.15em;
				}
			}

		}
		&:nth-child(1) {
			margin-top: 0px !important;
		}
		&:nth-child(odd) {
			margin-top: 0px;
			margin-top: -35px;
		}
	}
	.inner-text-row {
		text-align: left;
		padding-left: 25px;
		&:before {
			content: "\22EE";
			left: 0px;
			font-size: 2em;
			@include absolute-y-center;
			color: $blue;
		}
		h3 {
			font-size: 1em;
			font-weight: 700;
		}
		p {
			font-size: .95em;
		}
	}
	.inner-row {
		display: flex;
		flex-wrap: wrap;
		width: 95%;
		.numbers {
			width: 15%;
			.circle {
				width: 100%;
				padding-top: 100%;
				display: flex;
				justify-content: center;
				position: relative;
				align-items: center;
				border: solid 2px $blue;
				border-radius: 100%;
				.label {
					@include absolute-xy-center;
					position: absolute;
					left: 75%;
					top: 50%;
					transform: translate(-50%, -50%);
					display: flex;
					background: #fff;
					font-size: 1.1em;
					padding: 3px;
					font-weight: 700;
					span {
						font-weight: 500;
						margin-right: 3px;
						display: flex;
						justify-content: center;
						align-items: center;
						&:before {
							content: " ";
							width: 3px;
							margin-right: 5px;
							display: block;
							height: 3px;
							background-color: $blue;
							border-radius: 100%;
						}
					}
				}
			}
		}
		.thumbnail {
			width: 80%;
			margin-left: auto;
		}
	}
	.inner-text-row {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}
.portfolio {

	h4.section-title {
		margin-bottom: 40px;
	}
	.mobile-more {
		display: none;
	}
	ul.nav {
		margin-bottom: 40px;
		display: flex;
		justify-content: center;
		li {
			a {
				color: #000;
				text-transform: uppercase;
				&.active {
					color: $blue;
				}
			}
		}
	}
	.grid-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px; 
		width: 100%;
	}
	.single-portfolio-item {
		position: relative;
		background-size: cover;
		&:nth-child(1) {
			grid-area: 1 / 1 / 3 / 3;
		}
		&:nth-child(2) {
			grid-area: 1 / 3 / 2 / 5; 
		}
		&:nth-child(3) {
			grid-area: 2 / 3 / 3 / 4; 
		}
		&:nth-child(4) {
			grid-area: 2 / 4 / 4 / 5;
		}
		&:nth-child(5) {
			grid-area: 3 / 2 / 4 / 4;
		}
		&:nth-child(6) {
			grid-area: 3 / 1 / 4 / 2; 
		}
		&:hover .inner-single-portfolio {
			background: rgba(0,0,0,.7);
			z-index: 2;
		}
	}
	.inner-single-portfolio {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0);
		transition-duration: .5s;
		z-index: -1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h4 {
			text-transform: uppercase;
			color: #fff;
		}
		h5 {
			text-transform: uppercase;
			color: #fff;
			font-size: 1em;
		}
		a {
			color: #fff;
			margin-top: 20px;
			transition-duration: .5s;
			&:hover {
				color: $blue;
			}
		}
	}

	.all-portfolio {
		width: 100%;
		margin-bottom: 70px;
	}
}
.team {
	padding: 80px 0px;
	color:$black; 
	.section-title {
		margin-top: 0px;
		margin-bottom: 50px;
	}
	.all-teammates {
		.single-team-item {
			margin-bottom: 60px;
			&:hover {
				.circle {
					border: solid 2px $blue;
					.label-name {
						
						span {
							color: $black;	
						}
					}
				}
			}
			

			.circle {
				border-radius: 100%;
				width: 35%;
				padding-top: 35%;
				border: solid 2px $gray;
				transition-duration: .5s;
				position: relative;
				display: flex;
				justify-content: center;
				align-items: center;
				.label-name {
					position: absolute;
					top: 50%;
					transform: translate(50%, -50%);
					white-space: nowrap;
					padding: 5px;
					background: #fff;
					margin-right: -20px;
					display: block;
					right: 40%;
					z-index: 20;
					width: 100%;
					font-weight: 700;
					&:before {
						content: " ";
						width: 5px;
						height: 5px;
						display: block;
						background-color: $blue;
						border-radius:100%;
						@include absolute-y-center;
						left: -5px;
					}
					span {
						color: $black;
						transition-duration: .5s;
						font-weight: 400;
					}
					small {
						display: block;
						position: absolute;
						top: -15px;
					}
				}
			}
		}
		.more-info {
			padding-left: 25px;
			.position {
				color: $blue;
				color: #0098ff;
				font-weight: 700;
				margin-top: 20px;
				margin-bottom: 20px;
				min-height: 40px;
				display: flex;
				align-items: center;
			} 
			.mail, .phone {
				a {
					color: $gray;
					transition-duration: .5s;
					&:hover {
						color: $blue;
					}
				}
			}
		}
	}
}
.opinion {
	padding-bottom: 60px;
	background-color: $silver;
	h4.section-title {
		margin-bottom: 60px;
	}
	.single-item-opinion {
		padding: 20px;
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 10px;
		box-shadow: 5px 5px 10px rgba(57,77,199,.1);
		transition-duration: .5s;
		position: relative;
		z-index: 10;
		&:hover {
			box-shadow: 0px 0px 15px rgba(57,77,199,.1);
		}
		h5 {
			font-size: 1em;
			font-weight: 600;
			text-align: center; 
			span {
				display: block;
				font-weight: 500;
				color: $blue;
				margin-top: 5px;
			}
		}
		.quote {
			width: 80%;
			margin: auto;
			text-align: center;
			margin-bottom: 50px;
			position: relative;
			margin-top: 20px;
			font-style: italic;
			&:before {
				content: url(/wp-content/uploads/2020/03/cytat.png);
				width: 40px;
				height: 40px;
				display: block;
				position: absolute;
				left: -10%;
				top: -35px;
				transform: rotate(180deg);
			}  
			&:after {
				content: url(/wp-content/uploads/2020/03/cytat.png);
				width: 40px;
				height: 40px;
				display: block;
				position: absolute;
				right: -10%;
				bottom: -35px;
			} 
		}
		.thumbnail {
			img {
				max-height: 120px;
				width: auto;
				margin: 0px auto 20px auto;
			}
		}
	}
	.owl-carousel {
		position: relative;
	}
	.owl-nav {
		z-index: -1;
		@include absolute-y-center;
		width: 110%;
		margin-left: -5%;
		display: flex;
		justify-content: space-between;
		button {
			span {
				font-size: 2em;	
			}
		}
	}
}
.carousel {
	.owl-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.single-carousel-item {
		&:hover a label {
			color: $gray;
		}
		a {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			label {
				transition-duration: .5s;
				color: $silver;
				text-transform: uppercase;
				font-weight: 500;
			}
		}
	}
	.owl-nav {
		position: absolute;
		top: 25%;
		left: 0px;
		width: 105%;
		margin-left: -2.5%;
		display: flex;
		justify-content: space-between;
		button {
			span {
				font-size: 2em;
			}
		}
	}
}
footer {
	background-color:#000;
	color: #faf8fb;
	padding:40px 0px 20px 0px;
	h5 {
		text-transform: uppercase;
		font-size: .95em;
		font-weight: 600;
	}
	.copywrite {
		margin-top: 30px;
		padding-top: 30px;
		color: #777777;
		border-top: solid 1px #333;
		span {
			color: #777;
		}
		.col-xl-6:nth-child(2) {
			span {
				display: block;
				text-align: right;
				width: 100%;
			}
		}
	}
	.item-1, .item-2, .item-3, .item-4 {
		font-size: .9em;
		font-weight: 400;
	}
	.fb {
		font-size: .85em;
		color: #faf8fb;
		display: flex;
		justify-content: space-between;
	}
	a {
		color: #fff;
	}
}
.hamburger-mobile {
	display: none;
}
@media (max-width: 576px) {
	div#list-example {
		position: fixed;
		left: 0;
		width: 70vw;
		height: 100vh;
		overflow: hidden;
		background: rgba(255,255,255,.85);
		margin-left: -70vw !important;
		transition-duration: .5s; 
		&.active {
			margin-left: 0vw !important;
		}
	}
	#menu-main-menu {
		flex-direction: column;
	}
	.hamburger-mobile {
		display: flex;
		align-items: center;
		.hamburger .line{
			width: 50px;
			height: 5px;
			background-color: $black;
			display: block; 
			margin: 8px auto;
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		.hamburger:hover{
			cursor: pointer;
		}

		#hamburger-11{
			-webkit-transition: all 0.3s ease-in-out;
			-o-transition: all 0.3s ease-in-out;
			transition: all 0.3s ease-in-out;
		}

		#hamburger-11.is-active{
			animation: smallbig 0.6s forwards;
		}

		@keyframes smallbig{
			0%, 100%{
				-webkit-transform: scale(1);
				-ms-transform: scale(1);
				-o-transform: scale(1);
				transform: scale(1);
			}

			50%{
				-webkit-transform: scale(0);
				-ms-transform: scale(0);
				-o-transform: scale(0);
				transform: scale(0);
			}
		}

		#hamburger-11.is-active .line:nth-child(1),
		#hamburger-11.is-active .line:nth-child(2),
		#hamburger-11.is-active .line:nth-child(3){
			-webkit-transition-delay: 0.2s;
			-o-transition-delay: 0.2s;
			transition-delay: 0.2s;
		}

		#hamburger-11.is-active .line:nth-child(2){
			opacity: 0;
		}

		#hamburger-11.is-active .line:nth-child(1){
			-webkit-transform: translateY(13px) rotate(45deg);
			-ms-transform: translateY(13px) rotate(45deg);
			-o-transform: translateY(13px) rotate(45deg);
			transform: translateY(13px) rotate(45deg);
		}

		#hamburger-11.is-active .line:nth-child(3){
			-webkit-transform: translateY(-13px) rotate(-45deg);
			-ms-transform: translateY(-13px) rotate(-45deg);
			-o-transform: translateY(-13px) rotate(-45deg);
			transform: translateY(-13px) rotate(-45deg);
		}


	}
	#slider {
		margin-top: 90px;
	}
}
@media (max-width: 1024px) {
	.slider .video-slider, .slider .image-slider {
		height: inherit;
	}
	.about-us {
		.single-item {
			margin-bottom: 30px;
		}
	}
	.counters {
		.single-counter {
			margin-bottom: 50px;
		}
	}
	.steps {
		.single-step {
			margin-bottom: 60px;
			.inner-text-row {
				margin-top: 10px;
			}
			&:nth-child(even) {
				margin-top: 0px;
			}
			&:nth-child(odd) {
				margin-top: 0px;
			}
		}
	}
	.sidebar-image {
		position: absolute;
		width: 100%;
		opacity: 0.2;
		top: 70px;
		img {
			width: 95%;
		}
	}
	.team .all-teammates .single-team-item .circle .label-name {
		background-color: #fff;
		width: 100%;
	}
	footer {
		h5 {
			margin-top: 20px;
		}
		.col-md-12 {
			margin-top: 40px;
		}
	}
}
@media (max-width: 576px) { 
	.all-portfolio.wow.zoomIn {
		max-width: 90vw;
		margin: auto;
		padding-bottom: 50px;
		overflow: hidden;

		.single-portfolio-item {
			background-size: cover;
			background-position: 0% 0%; 
		}
		.inner-single-portfolio {
			display: none;
		}
		a.mobile-more {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			opacity: 0;
			transition-duration: .5s;
			background: rgba(0, 0, 0, 0.75);
			z-index: 20;
			width: 100%;
			height: 100%;
			justify-content: center;
			align-items: center;
			&:hover {
				z-index: 2;
				opacity: 1;
			}
		}
	}
	.steps .single-step .inner-text-row:before {
		display: none;
	}
	.team .all-teammates {
		overflow-x: hidden;
		.single-team-item {
			margin-bottom: 60px;
			text-align: center;
			display: block;
			.titles-name {
				display: flex;
				justify-content: center;
			}
			.position {
				text-align: center;
				width: 100%;
				justify-content: center;
			}
		}
	}
	.sidebar-image.wow.zoomInLeft {
		width: 95vw;
		overflow: hidden;
	}
}
.single-realizacje {
	.grid-content {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 20px;
		grid-row-gap: 20px; 
		width: 100%;
	}
	.details-gallery {
		margin-bottom: 80px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		} 
	}
	.single-portfolio-item {
		position: relative;
		background-size: cover;
		&:nth-child(1) {
			grid-area: 1 / 1 / 3 / 3;
		}
		&:nth-child(2) {
			grid-area: 1 / 3 / 2 / 5; 
		}
		&:nth-child(3) {
			grid-area: 2 / 3 / 3 / 4; 
		}
		&:nth-child(4) {
			grid-area: 2 / 4 / 4 / 5;
		}
		&:nth-child(5) {
			grid-area: 3 / 2 / 4 / 4;
		}
		&:nth-child(6) {
			grid-area: 3 / 1 / 4 / 2; 
		}
		&:hover .inner-single-portfolio {
			background: rgba(0,0,0,.7);
			z-index: 2;
		}
	}
	.header-top {
		min-height: 90vh;
		background-size: cover;
		position: relative;
		.position-container {
			position: absolute;
			bottom: 5%;
			display: flex;
			width: 100%;
			justify-content: center;
			h1 {
				background-color: #4eabf9;	
				color: #fff;
				font-size: 2em;
				font-weight: 700;
				padding: 20px 90px;
			}
		}
	}
	.container-arrow {
		position: absolute;
		width: 125%;
		height: 50px;
		top: 50%;
		transform: translate(0,-50%);
		left: -12.5%;
		z-index: 0;
		a {
			filter: invert(1);
		}
	}
	.details-more {
		h3 {
			font-size: 1.25em;
			font-weight: 700;
			display: flex;
			align-items: center;
			margin: 0;
			&:before {
				content: "\22EE";
				color: #0098ff;
				font-size: 1.6em;
				margin-left: -25px;
				margin-right: 10px;
			}
		}
		address {
			color: $blue;
			font-weight: 700;
			margin-top: 20px;
			margin-bottom: 35px;
			font-size: 1.1em;
		}
		.more-info-text {
			line-height: 1.85em;
			text-align: justify;
			color: #212121;
			font-weight: 300;
		}
	}
}